/* Ajoutez ces styles à votre fichier CSS */
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
.best-scores-modal{
  background-image: linear-gradient(to left top, #360046, #590d82, #711e99, #a756c4, #9458cd, #b065ef, #c47ef7, #711e99, #590d82, #360046);
  width: 100%;
  border-radius: 20px;
}

.best-scores-container button {
  border: none;
  border-radius: 10px;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  font-family: "Righteous", sans-serif;
  display: inline;
  align-items: center;
  font-size: 15px;
  height:auto;
  font-weight: 900;
  width: 45%;
  cursor: pointer;
  margin: 2%;
  text-transform: uppercase;
  background-color: #fff; 
  color: #6705d6;
  transition: background-color 0.3s ease;
}

.best-scores-container button:hover {
  background-image: linear-gradient(to left top, #360046, #590d82, #711e99, #9321a2);
  color: #fff;
}

.best-scores-container button.selected {
  color: #fff;
  background-image: linear-gradient(to left top, #360046, #590d82, #711e99, #9321a2);
}

.best-scores-container button:active {
  box-shadow: 0 2px linear-gradient(to left top, #360046, #590d82, #711e99, #9321a2);
  transform: translateY(3px);
}

.best-scores-modal .floating-text {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.best-scores-modal .game-container:hover .floating-text {
  transform: scale(1.1);
}

.best-scores-modal .game-info {
  position: absolute;
  width: 53%;
  top: 60%;
  left: 53%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.best-scores-modal .game-container:hover .game-info {
  opacity: 1;
}

.best-scores-modal h2 {
  width: 34%;
  padding: 2.5%;
  text-align: center;
  position: relative;
  color: #fff;
  background-color: #590d82;
  opacity: 0.9;
  display: inline-block;
  margin-left: 5.2%;
  font-family: "Righteous", sans-serif;
  margin-top: 3%;
  font-size: 1.5rem;
}

.best-scores-modal .score-text {
  font-size: 1rem;
  transition: transform 0.5s ease-in-out;
  background-image: linear-gradient(to left top, #360046, #590d82, #711e99, #9321a2);
  opacity: 0.7;
  padding:10%;
  border-radius: 20%;
  line-height: 1.2;
}

.best-scores-modal .game-container:hover .score-text {
  transform: scale(1.5) translateX(50px);
}

.best-scores-modal .game-container:hover.score-text.fixed {
  visibility: visible !important;
  opacity: 1 !important;
}

.best-scores-modal .game-container:hover button {
  transform: scale(1.5) translateX(50px);
}

.best-scores-modal .score-label {
  font-size: 1rem;
  margin: 17% 0 0 18%;
  transform-origin: center;
  text-align: center;
  color: #fff;
}

.best-scores-modal .game-info button {
  font-size: 0.8rem;
  margin: 0;
  transform-origin: center;
  margin: 0px 10px 10px 100px;
  transition: transform 0.5s ease-in-out;
  transform: translateX(60px);
  width: 100px;
}

.best-scores-modal .floating-text.play-text,
.best-scores-modal .floating-text.show {
  width: 34%;
  z-index: 4;
  background-image: linear-gradient(to left top, #360046, #590d82, #711e99, #9321a2);
  color: #fff;
  padding: 3% 0%;
  animation: clignotement-vif-modal 0.5s infinite;
  border-radius: 50%;
  cursor: pointer;
  margin-left: 7%;
  font-size: 1rem;
  box-shadow: 0 10px rgb(45, 29, 95);  
  margin-bottom: 6%;
  font-family: 'Press Start 2P', cursive;
}

.best-scores-modal .Title h1 {
  text-align: center;
  color: #fff;
}

.best-scores-modal .Title {
  font-family: "Righteous", sans-serif;
  padding: 2%;
  font-size: 0.8rem;
  text-align: center;
  position: relative;
  color: #fff;
}

.best-scores-modal .Title::before {
  content: "";
  position: absolute;
  width: 70%;
  height: 60%;
  top: 18%;
  left: 17%;
  border-radius: 8px;
  box-shadow: 0 0 10px 5px #9321a2; 
  opacity: 0;
  background-color: rgba(255, 255, 255, 0.4);
  animation: neon-glow 1s infinite alternate; 
}

@keyframes neon-glow {
  to {
    opacity: 1;
  }
}

/* Ajoutez ce style à votre feuille de style CSS */


/* --------  KEYFRAME ---------- */
@keyframes clignotement {
  0%, 100% {
      opacity: 1;
  }
  50% {
      opacity: 0.5;
  }
}

@keyframes clignotement-vif-modal {
  0%, 100% {
    background-color: #6705d6;
  }
  50% {
    background-image: linear-gradient(to left top, #fff, #b065ef, #ff00ff);
    box-shadow: 0 10px linear-gradient(to left top, #fff, #ff00ff); 
  }
}