/* Ajoutez ces styles à votre fichier CSS */

button {
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  align-items: center;
  font-size: 15px;
  font-weight: 900;
  width: auto;
  cursor: pointer;
  margin: 2px;
  margin-left: 20px;
  text-transform: uppercase;
  background-color: #fff;
  color: #6705d6;
  transition: background-color 0.3s ease; /* Ajout de la transition de couleur de fond */
}
button:hover{
    background-color: #6705d6;
  color: #fff;

}

button.selected {
  /* Couleur de fond pour l'état sélectionné */
  color: #fff;
  background-color: #6705d6;
  
}
button:active{
      box-shadow: 0 1px #09F;
    transform: translateY(3px);
}

.best-scores-modal .floating-text {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 10px;
  /* transition: transform 0.5s ease-in-out; */
  cursor: pointer;
}

.best-scores-modal .game-container:hover .floating-text {
  transform: scale(1.1);
}

.best-scores-modal .game-info {
  position: absolute;
  width: 53%;
  top: 60%;
  left: 53%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
    font-family: 'Press Start 2P', cursive;

}

.best-scores-modal .game-container:hover .game-info {
  opacity: 1;
}

.best-scores-modal h2 {
  width: 34%;
  padding: 2.5%;
  text-align: center;
  position: relative;
  color: #6705d6;
  background-color: #fff;
  opacity: 0.8;
  display: inline-block;
  margin-left: 5.2%;
  font-family: 'Press Start 2P', cursive;
  margin-top: 3%;
    font-size: 1rem;


}

.best-scores-modal .score-text {
  font-size: 0.8rem;
  text-align: center;
  transition: transform 0.5s ease-in-out;
    background-color: #6705d6;
    opacity: 0.7;
    padding:10%;
    border-radius: 20%;
    line-height: 1.5;

}

.best-scores-modal .game-container:hover .score-text {
  transform: scale(1.5) translateX(50px);
}
.best-scores-modal .game-container:hover.score-text.fixed {
  visibility: visible !important;
  opacity: 1 !important;
}
.best-scores-modal .game-container:hover button {
  transform: scale(1.5) translateX(50px);
}

.best-scores-modal .score-label {
  font-size: 1rem;
  margin: 17% 0 0 18%;
  transform-origin: center;
  text-align: center;
  color: #fff;
}

.best-scores-modal .game-info button {
font-size: 0.8rem;
  margin: 0;
  transform-origin: center;
    margin: 0px 10px 10px 100px;
  transition: transform 0.5s ease-in-out;
  transform: translateX(60px);
  width: 100px;
}
.best-scores-modal .floating-text.play-text,
.best-scores-modal .floating-text.show{
    width: 34%;
  z-index: 4;
  background-color: #6705d6;
  border: none;
  color: #fff;
  padding: 3% 0%;
  animation: clignotement-vif 0.5s infinite;
  border-radius: 50%;
  cursor: pointer;
  margin-left: 7%;
  font-size: 1rem;
  box-shadow: 0 10px rgb(45, 29, 95);
  
  margin-bottom: 6%;
  font-family: 'Press Start 2P', cursive;
}

/* Ajoutez ce style à votre feuille de style CSS */


/* --------  KEYFRAME ---------- */
@keyframes clignotement {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
}

@keyframes clignotement-vif {
    0%, 100% {
        background-color: #09F;
    }
    50% {
        background-color: #F00;
        box-shadow: 0 10px rgb(218, 12, 12);
    }
}