.expansionPanel {
    position: fixed;
    z-index: 30;
    height: auto;
    min-height: 40vh;
    width: 25%;
    right: 20px;
    bottom: 10%;
    border: none;
    border-radius: 20px;
    background-image: linear-gradient(to left top, #6705d6, #822fde, #9a4be6, #b065ef, #c47ef7);
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    box-shadow: -3px 5px 17px 10px rgba(0,0,0,0.66);
    h1 {
        text-transform: uppercase;
        font-size: 2rem;
        font-weight: 900;
        color: #6705d6;
        margin-left: 15px;
    }
    .gameTagline {
        font-size: 18px;
        margin: 20px;
        font-weight: bold;
        text-align: center;
        color: black;
    }
    button{
        border-radius: 45%;
        font-size: 20px;
        bottom: 20px;
    right: 20px;
    width: 250px;
    height: 50px;
    background-color: #c47ef7;
    color: #6705d6;
        cursor: pointer;

    }
    button.selected {
        background-color: #6705d6;
        color: #fff;

    }
    .instructions {
        height: 100%;
        width: 100%;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;

        button {
            margin: 5px;
            width: 100px;
        }
        .instructionsHomePages {
            height: 100%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-around;
            flex-direction: column;
            .pHomePage {
                width: 80%;
                text-align: center;
            }
            .buttonList {
                margin-top: 10%;
                display: flex;
                align-items: center;
                justify-content: space-around;
                flex-direction: row;
                button {
                    font-size: 0.9rem;
                    width: 43%;
                }
            }
        }
        p {
            font-weight: 600;
            font-size: 1.2rem;
            margin: 5%;
        }

        .key {
            margin: 10%;
            display: flex;
            align-items: center;
            justify-content: space-around;

            img {
                width: 40px;
                height: 40px;
            }
        }                     
    }
    .sliderContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        height: 100%;
        .speedRangeText {
            font-weight: 600;
            font-size: 1.2rem;
            margin: 5%;
        }
        #sliderInput {
            color: #6705d6;
            margin-bottom: 3%;
        }
    }
    .noGameFound {
        font-size: 16px;
        font-weight: 900;
    }
}
.keys-container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
    gap: 5px; 
    justify-content: center;
    align-items: center;
}

.keySnake {
    display: flex;
    align-items: center;
    justify-content: center;
}

.keySnake.up { grid-column: 2; grid-row: 1; }
.keySnake.down { grid-column: 2; grid-row: 3; }
.keySnake.left { grid-column: 1; grid-row: 2; }
.keySnake.right { grid-column: 3; grid-row: 2; }

.touch{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 10px;
    border-radius: 5px; 
    background-color: #f0f0f0;
    box-shadow: 
        2px 2px 5px rgba(0, 0, 0, 0.2), 
        -2px -2px 5px rgba(255, 255, 255, 0.7); 
    transition: all 0.2s ease; 
}
.touch:active {
    box-shadow: 
        inset 2px 2px 5px rgba(0, 0, 0, 0.2), 
        inset -2px -2px 5px rgba(255, 255, 255, 0.7);
}
.subgameTagline{
    text-align: center;
    font-style: italic;
}