.games{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  height: 100vh;
  background-size: cover;
}

#gamesContainer {
  box-shadow: 0 0 10px #fd028c;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: blinkShadow 1.5s infinite;
}
.snake {
  background-image: url("/src/assets/images/snakesBG.png");
}

.breakout {
  background-image: url("/src/assets/images/breakoutBG.png");
}

.tetris {
  background-image: url("/src/assets/images/tetrisBG.png");
}

.motus {
  background-image: url("/src/assets/images/motusBG.png");
}

.title span {
  display: inline-block;
  animation: fade 2s infinite, color 5s infinite;
}

.title {
  font-size: 6em;
  text-align: center;
  margin: 0 auto;
}

.title span {
  display: inline-block;
  animation: fade 2s infinite, color 5s infinite;
}

#start-button {
  background-color: #fd028c;
  border-radius: 50%;
  padding: 20px 30px;
  font-size: 2rem;
  color: white;
  cursor: pointer;
  text-shadow: 0 0 5px #fcd60c;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  animation: neon 1s ease-in-out infinite alternate;
  transition: box-shadow 0.3s ease;
}

#start-button:hover {
  background: linear-gradient(45deg, #fcd60c, #fd028c);
  color: white;
}

#start-button:active {
  transform: scale(0.9);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.gameScore, .gameBestScore {
  margin: 15px;
  color: inherit;
  text-transform: uppercase;
}

.tabScore {
  position: absolute;
  left: 100px; 
  height: auto;
  min-height: 30vh;
  width: 20%;
  font-family: 'Press Start 2P', cursive;
  color: #FFFFFF;
  background-color: black;  
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  font-size: 20px;
  box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #ff00de, 0 0 40px #ff00de;
  margin-top: 20px;
  transition: background-color 0.5s ease, color 0.5s ease; 
}
.gameOverMessage {
  color: #FFFFFF; 
  font-size: 1.2em; 
  padding-top: 20px; 
}

#canvas {
  margin-top: 20px;
  border: 1px solid #FFF;
}

#canvas {
  margin-top: 20px;
  border: 1px solid #FFF;
}




/* Style du tictactoe */
table {
  border-collapse: collapse;
  margin: 1.25rem auto;
  background-color: #101010;
}

td {
  width: 9.375rem;
  height: 9.375rem;
  text-align: center;
  font-size: 4.5rem;
  border: 1px solid #333;
  cursor: pointer;
}

.tictactoe-cell {
  position: relative;
}

td.span.player-symbol {
  color: #fdd33c; /* Couleur orange */
  opacity: 0;
  animation: fadeIn 0.3s forwards;
}
td.span.bot-symbol {
  color: #fd028c;
  opacity: 0;
  animation: fadeIn 0.3s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#tetrisCanvas {
  margin-top: 20px;
  border: 1px solid #FFF;
}

/* ------------------- KEYFRAME ------------------- */
@keyframes neon {
  from {
    box-shadow: 0 0 5px #00ff00, 0 0 25px #00ff00, 0 0 50px #00ff00, 0 0 200px #00ff00;
  }
  to {
    box-shadow: 0 0 10px #00ff00, 0 0 20px #00ff00, 0 0 40px #00ff00, 0 0 80px #00ff00;
  }
}

@keyframes blinkShadow {
  0%, 100% { box-shadow: 0 0 20px #FF69B4; }
  50% { box-shadow: 0 0 5px #FF69B4; }
}

@keyframes color {
  0% { color: red; }
  15% { color: rgb(255, 0, 149); }
  25% { color: orange; }
  35% { color: rgb(255, 234, 0); }
  50% { color: yellow; }
  75% { color: green; }
  100% { color: blue; }
}

@keyframes fade {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

@keyframes flashRed {
  0%, 100% { background-color: rgba(255,0,0,0.6); }
  50% { background-color: rgba(255,0,0,1); }
}

@keyframes purpleNeon {
  from {
    box-shadow: 0 0 5px #9400D3, 0 0 25px #9400D3, 0 0 50px #9400D3, 0 0 200px #9400D3; 
  }
  to {
    box-shadow: 0 0 10px #FF00FF, 0 0 20px #FF00FF, 0 0 40px #FF00FF, 0 0 80px #FF00FF;
  }
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #00ff00, 0 0 20px #00ff00, 0 0 30px #00ff00, 0 0 40px #00ff00;
    box-shadow: 0 0 5px #ff00ff, 0 0 10px #ff00ff, 0 0 15px #ff00ff, 0 0 20px #ff00ff;
  }
  to {
    text-shadow: 0 0 20px #ff0000, 0 0 30px #ff0000, 0 0 40px #ff0000, 0 0 50px #ff0000;
    box-shadow: 0 0 10px #00ff00, 0 0 20px #00ff00, 0 0 30px #00ff00, 0 0 40px #00ff00;
  }
}

.formMotus {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  width: 100%;
  input {
    width: 90%;
  }
  button {
    margin: auto;
    margin-left: 35%;
  }
}