/* snake.css */

.games {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-size: cover;
}

.snake {
  background-image: url('/src/assets/images/snakesBG.png');
}

.breakout {
  background-image: url('/src/assets/images/breakoutBG.png');
}

.tetris {
  background-image: url('/src/assets/images/tetrisBG.png');
}

.title span {
  display: inline-block;
  animation: fade 2s infinite, color 5s infinite;
}

.title {
  font-size: 6em;
  text-align: center;
  margin: 0 auto;
}

#gamesContainer {
  box-shadow: 0 0 10px #fd028c;
  padding: 10px 50px;
  border-radius: 10px;
  background-color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  animation: blinkShadow 1.5s infinite;
  opacity: 0.8;
}

#canvas {
  margin-top: 20px;
  border: 1px solid #FFF;
}

#canvas {
  margin-top: 20px;
  border: 1px solid #FFF;
}

@keyframes color {
  0% {
    color: red;
  }
  15% {
    color: rgb(255, 0, 149);
  }
  25% {
    color: orange;
  }
  35% {
    color: rgb(255, 234, 0);
  }
  50% {
    color: yellow;
  }
  75% {
    color: green;
  }
  100% {
    color: blue;
  }
}

@keyframes fade {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.title span {
  display: inline-block;
  animation: fade 2s infinite, color 5s infinite;
}
@keyframes neon {
  from {
    box-shadow: 0 0 5px #00ff00, 0 0 25px #00ff00, 0 0 50px #00ff00,
      0 0 200px #00ff00;
  }
  to {
    box-shadow: 0 0 10px #00ff00, 0 0 20px #00ff00, 0 0 40px #00ff00,
      0 0 80px #00ff00;
  }
}

#start-button {
  background-color: #fd028c;
  border-radius: 50%;
  padding: 20px 30px;
  font-size: 2rem;
  color: white;
  cursor: pointer;
  text-shadow: 0 0 5px #fcd60c;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  animation: neon 1s ease-in-out infinite alternate;
  transition: box-shadow 0.3s ease;
}

#start-button:hover {
  background: linear-gradient(45deg, #fcd60c, #fd028c);
  color: white;
}

#start-button:active {
  transform: scale(0.9);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

@keyframes blinkShadow {
  0%,
  100% {
    box-shadow: 0 0 20px #ff69b4;
  }
  50% {
    box-shadow: 0 0 5px #ff69b4;
  }
}

#snakeCanvas {
  margin-top: 20px;
  border: 1px solid #fff;
}

.gameScoreWrapper {
  display: none;
  margin-top: 20px;
  border: #fcd60c 2px solid;
}

.gameScore,
.gameBestScore {
  margin: 10px;
  color: #81e6d3;
  text-transform: uppercase;
}

<<<<<<< HEAD
/* Style du tictactoe */
table {
  border-collapse: collapse;
  margin: 1.25rem auto;
  background-color: #101010;
}

td {
  width: 9.375rem;
  height: 9.375rem;
  text-align: center;
  font-size: 4.5rem;
  border: 1px solid #333;
  cursor: pointer;
}

#tictactoe-scoreboard {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 1rem;
}

.tictactoe-cell {
  position: relative;
}

td.span.player-symbol {
  color: #fdd33c; /* Couleur orange */
  opacity: 0;
  animation: fadeIn 0.3s forwards;
}
td.span.bot-symbol {
  color: #fd028c;
  opacity: 0;
  animation: fadeIn 0.3s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
=======

#tetrisCanvas {
  margin-top: 20px;
  border: 1px solid #FFF;

>>>>>>> 6bd680b045cc7c4034ec56e52a1108921e03abaf
}
