/*  SITE ICONES TOUCHES : https://www.flaticon.com/fr/icones-gratuites/touche-du-clavier */

@import './assets/css/games.css';
@import './assets/css/buttons.css';
@import './assets/css/expansionPanel.css';

body{
  margin: 0;
  padding: 0;
  background-color: #000;
}
/* ------------------- APP --------------------- */
.app {
  text-align: center;
}

.app-logo {
  height: 40vmin;
  pointer-events: none;
}

.app-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.app-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.app-input {
  width: 100%;
  height: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  font-size: 20px;
  margin-bottom: 20px;
  background-color: transparent;
  color: #81e6d3;
  text-transform: uppercase;
  text-align: center;
}

.app-input:focus {
  outline: none;
  border-color: #81e6d3;
}
.app-input::placeholder {
  color: #99b3ae;
}
.app-input:hover {
  border-color: #ffd826;
}

/* --------------------- HOMEPAGE --------------------- */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.container-hp {
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./assets/images/background.png');
  background-size: cover;
  background-position: center;
  backdrop-filter: blur(100px);
}
.header-hp{
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
  border-bottom: 2px solid #ffd826;
}
.logo {
  margin-top: 80px;
  height: 30vmin;
}

.logo:hover {
  animation: App-logo-spin infinite 20s linear;
}

.title-hp {
  font-size: 3rem;
  text-transform: uppercase;
  text-align: center;
  margin-right: 200px;
  color: #fff;
  text-shadow:
  0 0 3px rgba(0, 255, 255, 0.7),
  0 0 6px rgba(0, 255, 255, 0.7),
  0 0 9px rgba(0, 255, 255, 0.7),
  0 0 12px rgba(0, 255, 255, 0.7);
}

.subtitle-hp {
  display: flex;
  justify-content: center;
  font-size: 48px;
  color: #F0F;
  text-shadow:
    1px 1px 0 #EB0,
    2px 2px 0 #0D6,
    3px 3px 0 #09F;
  font-family: 'Press Start 2P', cursive;
}

/* --------------------- Carousel ------------------- */
.container-carousel {
  width: 100%;
  padding: 20px 0;
}

.card-image {
  width: 400px;
  height: auto;
  background: #1e1f20;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease;
  margin: 20px auto;
  padding: 10px 10px 180px 10px;
}

.card-image:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}
.game-card {
  position: relative;
  text-align: center; 
  margin: 80px;
}
.relief-text {
  z-index: 10;
  position: relative;
  bottom: 60px;
  font-size: 2rem;
  color: #e55800;
  text-shadow:
      1px 1px 0 #000,
      2px 2px 0 #000,
      3px 3px 0 #000;
}

.slick-prev {
  color: transparent;
}
.play-card{
  top: -150px;
}
/* --------------------- ALERT --------------------- */
.alert {
  position: absolute;
  width: 25vw;
  height: 50vh;
}
.templateAlert {
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  font-weight: 700;
  box-shadow: 0 0 10px #fd028c;
}

.customSuccess {
  background-color: #d4edda;
  background-image: url('./assets/images/alert-success.webp');
  background-position: center  5%;
  width: 100%;
  height: 100%;
  text-shadow: #fcd60c 1px 1px 0, #fcd60c -1px -1px 0, #fcd60c -1px 1px 0, #fcd60c 1px -1px 0;
}

.customLoose {
  background-color: #FC2F2E;
  background-size: contain;
  background-image: url('./assets/images/alert-loose.webp');
  background-position: center;
  text-shadow: #602929 1px 1px 0, #670808 -1px -1px 0, #6c041c -1px 1px 0, #ee3781 1px -1px 0;
}

.alertMessage {
  padding: 10px;
  border: 1px solid transparent;
  border-radius: 4px;
  width: 100%;
  text-align: center;
  font-size: 2rem;
}
.buttonList {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 5%;
  button {
    background-color: #f692b8;
  }
}

/* ----------------- MEDIA QUERY -------------------- */
/* Phone */
@media (max-width: 600px) {
  .logo, .card-image {
    width: 80%;
    margin-top: 20px;
    height: auto;
  }

  .title-hp, .subtitle-hp {
    font-size: 20px;
  }

  .game-card {
    margin: 30px 0;
  }

  .container-carousel {
    padding: 10px 0;
  }

  .alert, .templateAlert {
    width: 80%;
    height: auto;
  }
}

/* Tablettes */
@media (min-width: 601px) and (max-width: 1024px) {
  .card-image {
    width: 60%;
  }

  .title-hp, .subtitle-hp {
    margin: 20px;
    font-size: 30px;
  }

  .game-card {
    margin: 80px 10px;
  }

  .container-carousel, .alert, .templateAlert {
    padding: 15px;
    width: 90%;
  }
}

