/*  SITE ICONES TOUCHES : https://www.flaticon.com/fr/icones-gratuites/touche-du-clavier */

@import './assets/css/games.css';
@import './assets/css/buttons.css';
@import './assets/css/expansionPanel.css';

/* ------------------- APP --------------------- */
.app {
  text-align: center;
}

.app-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .app-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.app-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.app-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.app-input {
  width: 100%;
  height: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  font-size: 20px;
  margin-bottom: 20px;
  background-color: transparent;
  color: #81e6d3;
  text-transform: uppercase;
  text-align: center;
}

.app-input:focus {
  outline: none;
  border-color: #81e6d3;
}
.app-input::placeholder {
  color: #99b3ae;
}
.app-input:hover {
  border-color: #ffd826;
}

/* --------------------- HOMEPAGE --------------------- */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.container-hp {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./assets/images/background.png');
  background-size: cover;
  background-position: center;
  backdrop-filter: blur(100px);
}
.header-hp{
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
  border-bottom: 2px solid #ffd826;
}
.logo {
  margin-top: 80px;
  height: 30vmin;
}

.logo:hover {
  animation: App-logo-spin infinite 20s linear;
}

.title-hp {
  font-size: 3rem;
  text-transform: uppercase;
  text-align: center;
  margin-right: 200px;
  color: #fff;
  text-shadow:
  0 0 3px rgba(0, 255, 255, 0.7),
  0 0 6px rgba(0, 255, 255, 0.7),
  0 0 9px rgba(0, 255, 255, 0.7),
  0 0 12px rgba(0, 255, 255, 0.7);
}

.container-carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.carousel {
  overflow: hidden;
  position: relative;
  display: flex;
  margin: 20px;
  border-radius: 30px;
  box-shadow: 0 8px 16px rgba(44, 43, 43, 0);
  width: 760px;
  margin: auto;
  height: 400px;
}

.carousel-inner {
  display: flex;
  transition: transform 0.3s ease-in-out;
}

.carousel-inner > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 0 0 50%;
  margin: 10px;
}

.carousel-button {
  position: absolute;
  z-index: 4;
  top: 50%;
  transform: translateY(-50%);
  background-color: #ffe100;
  color: rgb(255, 255, 255);
  cursor: pointer;
  padding: 0px 20px;
  border-radius: 50%;
  font-size: 3rem;
  border: none;
  box-shadow: 0 10px #b39f07;
}

.carousel-button.prev {
  left: 20px;
}

.carousel-button.next {
  right: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  background: white;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;

}

.card-image {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0.7;
  transition: opacity 0.3s ease;
}
.card:hover .card-image {
  opacity: 1;
}
.card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0,0,0,0.3);
}

.subtitle-hp {
  font-size: 48px;
  color: #F0F;
  text-shadow:
    1px 1px 0 #EB0,
    2px 2px 0 #0D6,
    3px 3px 0 #09F;
  font-family: 'Press Start 2P', cursive;
}

.relief-text {
  z-index: 10;
  position: relative;
  bottom: 60px;
  font-size: 2rem;
  color: #e55800;
  text-shadow:
      1px 1px 0 #000,
      2px 2px 0 #000,
      3px 3px 0 #000;
}


/* --------------------- ALERT --------------------- */
.alert {
  position: absolute;
  width: 25vw;
  height: 50vh;
}
.templateAlert {
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  font-weight: 700;
  box-shadow: 0 0 10px #fd028c;
}

.customSuccess {
  background-color: #d4edda;
  background-image: url('./assets/images/alert-success.webp');
  background-position: center  5%;
  width: 100%;
  height: 100%;
  text-shadow: #fcd60c 1px 1px 0, #fcd60c -1px -1px 0, #fcd60c -1px 1px 0, #fcd60c 1px -1px 0;
}

.customLoose {
  background-color: #FC2F2E;
  background-size: contain;
  background-image: url('./assets/images/alert-loose.webp');
  background-position: center;
  text-shadow: #602929 1px 1px 0, #670808 -1px -1px 0, #6c041c -1px 1px 0, #ee3781 1px -1px 0;
}

.alertMessage {
  padding: 10px;
  border: 1px solid transparent;
  border-radius: 4px;
  width: 100%;
  text-align: center;
  font-size: 2rem;
}
.buttonList {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 5%;
  button {
    background-color: #f692b8;
  }
}

/* TO REMOVE */

.test {
  border: 1px solid white;
}
